<div class="wrapper mt-20 lg:mt-40">
  <!-- <input type="checkbox" name="check" id="check" /> -->
  <div class="login form">
    <header>Login</header>
    <form>
      <input type="text" placeholder="Enter your email" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
      />
      <!-- <a href="">Forgot Password?</a> -->
      <input type="button" value="Log In" class="button" />
    </form>
    <div class="signup">
      <span class="signup"
        >Dont have an account?
        <a routerLink="/register">Sign Up</a>
      </span>
    </div>
  </div>
</div>
