<div class="bg-white opacity-90 w-fit mx-auto p-10 mt-8 rounded-2xl">
  <app-cancel-button />
  <div
    class="flex justify-center mb-10 uppercase cursor-default font-bold text-3xl"
  >
    Job Requests
  </div>
  <div class="flex justify-center" *ngIf="isLoading">
    <app-spiner />
  </div>
  <div>
    <div
      *ngIf="isLoading === false"
      class="flex flex-col text-sm space-x-4 items-center md:grid md:grid-cols-2 lg:grid-cols-3 space-y-4"
    >
      <div
        *ngFor="let data of requests"
        class="space-y-3 border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg"
      >
        <div class="mx-auto space-x-2 bg-slate-100 pl-2 pr-2 w-fit rounded-xl">
          <span class="">{{ data.firstName }}</span>
          <span class="">{{ data.lastName }}</span>
        </div>
        <div class="bg-slate-200 mx-auto w-fit pl-2 pr-2 rounded-xl">
          <span>Email: {{ data.email }}</span>
        </div>
        <div class="bg-slate-300 mx-auto w-fit pl-2 pr-2 rounded-xl">
          <span class="block">Last company: {{ data.lastCompany }}</span>
          <span class="block">Can start on: {{ data.startDate }}</span>
          <span class="block"
            >Expected salary: {{ data.salary ? data.salary + "$" : "" }}</span
          >
          <span class="block">Porfolio: {{ data.portfolio }}</span>
        </div>
        <div class="bg-slate-400 mx-auto w-fit pl-2 pr-2 rounded-xl">
          <span>Comments: {{data.comments}}</span>
        </div>
        <div class="flex justify-center space-x-5 mt-4">
            <button class="bg-green-700 rounded-full font-bold pl-2 pr-2 pt-1 pb-1 text-black hover:bg-green-800">Accept</button>
            <button class="bg-red-700 rounded-full font-bold pl-2 pr-2 pt-1 pb-1 text-black hover:bg-red-800">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
