<div class="bg-white opacity-90 w-full md:w-fit mx-auto p-10 mt-8 rounded-2xl">
  <app-cancel-button />
  <div
    class="flex justify-center text-center mb-10 uppercase cursor-default font-bold text-3xl"
  >
    Our Services
  </div>
  <div class="flex justify-center" *ngIf="isLoading">
    <app-spiner />
  </div>
  <div>
    <div
      *ngIf="isLoading === false"
      class="flex flex-col text-sm items-center md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-3 md:space-y-0 space-y-4"
    >
      <div
        *ngFor="let service of ultracleanServices"
        class="border-2 border-black max-w-2xl p-2 text-xs h-fit md:text-base lg:text-lg"
      >
        <span class="flex justify-center font-bold bg-green-700 p-1">{{
          service.service
        }}</span>
        <img
          *ngIf="isClicked === false"
          class="w-40 mx-auto mt-2 h-40"
          src="{{ service.imageUrl }}"
          alt="service"
        />
        <img
          *ngIf="isClicked"
          class="w-120 mx-auto mt-2 h-120"
          src="{{ service.imageUrl }}"
          alt="service"
        />
        <div *ngIf="isClicked" class="mt-2">
          <p class="mx-auto">{{ service.description }}</p>
          <p class="border-2 w-fit mx-auto mt-5 text-xl">
            Price: ${{ service.price }}
          </p>
        </div>

        <div *ngIf="!isAdmin()" class="flex justify-center mt-4 space-x-2">
          <button
            (click)="onActive()"
            [routerLink]="['/service', 'details', service._id]"
            class="border-2 btn rounded-full border-black p-2 hover:bg-green-700 hover:text-white"
          >
            Learn More
          </button>
          <button
            (click)="onActive()"
            routerLink="/booking-form"
            class="border-2 rounded-full border-black p-2 hover:bg-green-700 hover:text-white"
          >
            Book Now
          </button>
        </div>

        <div *ngIf="isAdmin()" class="flex justify-center mt-4 space-x-3">
          <button
            (click)="onActive()"
            [routerLink]="['/service', 'edit', service._id]"
            class="border-2 btn rounded-full border-black p-2 hover:bg-green-700 hover:text-white"
          >
            Edit
          </button>
          <button
            (click)="deleteHandle(service._id)"
            class="border-2 btn rounded-full border-black p-2 hover:bg-green-700 hover:text-white"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
