<div class="bg-white opacity-90 w-fit mx-auto p-10 mt-8 rounded-2xl">
  <app-cancel-button />
  <!-- <div class="mb-10 text-2xl cursor-pointer justify-center flex bg-slate-400">X</div> -->
  <div class="flex justify-center mb-10 uppercase cursor-default font-bold text-3xl">Our Services</div>
  <div
    class="flex flex-col text-sm space-x-4 items-center md:grid md:grid-cols-2 lg:grid-cols-3 space-y-4"
  >
    <div class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg">
      <span class="flex justify-center bg-green-700 p-1">Service 1</span>
      <img
        class="w-40 mx-auto mt-2"
        src="../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
        alt="service"
      />
      <!-- <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad
        autem praesentium maiores, eos obcaecati nulla, maxime quae cumque
        repellendus mollitia iusto officiis delectus illo consequatur.
        Necessitatibus eaque placeat dolore error consequatur mollitia quia
        esse! Quo, consequuntur optio officia id omnis similique consequatur
        excepturi. Deserunt, soluta natus deleniti aspernatur sit autem
        consequatur excepturi inventore perferendis ipsam nobis, molestias
        repellendus rem iure voluptatem aliquid voluptas neque nisi ab quidem
        veritatis id possimus incidunt porro? Aut nobis minima error adipisci
        quasi assumenda ut itaque? Natus beatae incidunt fugit provident
        voluptatum, officiis sint dicta pariatur, maiores asperiores quos maxime
        consequuntur adipisci libero, quam est aut. Magni earum dolorem quasi
        laboriosam aliquam laborum quis, odio ipsa perspiciatis reiciendis vel,
        nulla, expedita at cupiditate quod minima impedit esse sed consequuntur
        autem! Sint reiciendis quam optio veniam consectetur libero, autem,
        voluptas blanditiis unde ducimus ea doloribus quas necessitatibus hic
        atque expedita facilis nulla! Sunt eveniet incidunt ea, cum quibusdam at
        enim autem blanditiis, consequuntur esse quo molestias facere?
        Cupiditate, aliquam tempore. Modi veniam sapiente itaque eius odit
        aperiam optio, veritatis ullam mollitia magnam libero placeat incidunt
        qui ipsam earum reiciendis ea pariatur laudantium molestias dolore neque
        aliquid! Quae dolorem facere tempore nemo libero, quisquam dolores
        voluptas.
      </p>
      <p class="border-2 w-fit mx-auto mt-5 text-xl">Price: $40</p> -->
      <div class="flex justify-center mt-4 space-x-2">
        <button class="border-2 rounded-full border-black p-2">
          Learn More
        </button>
        <button class="border-2 rounded-full border-black p-2">Book Now</button>
      </div>
    </div>
    <div class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg">
      <span class="flex justify-center bg-green-700 p-1">Service 1</span>
      <img
        class="w-40 mx-auto"
        src="../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
        alt="service"
      />
      <!-- <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad
          autem praesentium maiores, eos obcaecati nulla, maxime quae cumque
          repellendus mollitia iusto officiis delectus illo consequatur.
          Necessitatibus eaque placeat dolore error consequatur mollitia quia
          esse! Quo, consequuntur optio officia id omnis similique consequatur
          excepturi. Deserunt, soluta natus deleniti aspernatur sit autem
          consequatur excepturi inventore perferendis ipsam nobis, molestias
          repellendus rem iure voluptatem aliquid voluptas neque nisi ab quidem
          veritatis id possimus incidunt porro? Aut nobis minima error adipisci
          quasi assumenda ut itaque? Natus beatae incidunt fugit provident
          voluptatum, officiis sint dicta pariatur, maiores asperiores quos maxime
          consequuntur adipisci libero, quam est aut. Magni earum dolorem quasi
          laboriosam aliquam laborum quis, odio ipsa perspiciatis reiciendis vel,
          nulla, expedita at cupiditate quod minima impedit esse sed consequuntur
          autem! Sint reiciendis quam optio veniam consectetur libero, autem,
          voluptas blanditiis unde ducimus ea doloribus quas necessitatibus hic
          atque expedita facilis nulla! Sunt eveniet incidunt ea, cum quibusdam at
          enim autem blanditiis, consequuntur esse quo molestias facere?
          Cupiditate, aliquam tempore. Modi veniam sapiente itaque eius odit
          aperiam optio, veritatis ullam mollitia magnam libero placeat incidunt
          qui ipsam earum reiciendis ea pariatur laudantium molestias dolore neque
          aliquid! Quae dolorem facere tempore nemo libero, quisquam dolores
          voluptas.
        </p>
        <p class="border-2 w-fit mx-auto mt-5 text-xl">Price: $40</p> -->
      <div class="flex justify-center mt-4 space-x-2">
        <button class="border-2 rounded-full border-black p-2">
          Learn More
        </button>
        <button class="border-2 rounded-full border-black p-2">Book Now</button>
      </div>
    </div>
    <div class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg">
      <span class="flex justify-center bg-green-700 p-1">Service 1</span>
      <img
        class="w-40 mx-auto"
        src="../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
        alt="service"
      />
      <!-- <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad
          autem praesentium maiores, eos obcaecati nulla, maxime quae cumque
          repellendus mollitia iusto officiis delectus illo consequatur.
          Necessitatibus eaque placeat dolore error consequatur mollitia quia
          esse! Quo, consequuntur optio officia id omnis similique consequatur
          excepturi. Deserunt, soluta natus deleniti aspernatur sit autem
          consequatur excepturi inventore perferendis ipsam nobis, molestias
          repellendus rem iure voluptatem aliquid voluptas neque nisi ab quidem
          veritatis id possimus incidunt porro? Aut nobis minima error adipisci
          quasi assumenda ut itaque? Natus beatae incidunt fugit provident
          voluptatum, officiis sint dicta pariatur, maiores asperiores quos maxime
          consequuntur adipisci libero, quam est aut. Magni earum dolorem quasi
          laboriosam aliquam laborum quis, odio ipsa perspiciatis reiciendis vel,
          nulla, expedita at cupiditate quod minima impedit esse sed consequuntur
          autem! Sint reiciendis quam optio veniam consectetur libero, autem,
          voluptas blanditiis unde ducimus ea doloribus quas necessitatibus hic
          atque expedita facilis nulla! Sunt eveniet incidunt ea, cum quibusdam at
          enim autem blanditiis, consequuntur esse quo molestias facere?
          Cupiditate, aliquam tempore. Modi veniam sapiente itaque eius odit
          aperiam optio, veritatis ullam mollitia magnam libero placeat incidunt
          qui ipsam earum reiciendis ea pariatur laudantium molestias dolore neque
          aliquid! Quae dolorem facere tempore nemo libero, quisquam dolores
          voluptas.
        </p>
        <p class="border-2 w-fit mx-auto mt-5 text-xl">Price: $40</p> -->
      <div class="flex justify-center mt-4 space-x-2">
        <button class="border-2 rounded-full border-black p-2">
          Learn More
        </button>
        <button class="border-2 rounded-full border-black p-2">Book Now</button>
      </div>
    </div>
    <div class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg">
      <span class="flex justify-center bg-green-700 p-1">Service 1</span>
      <img
        class="w-40 mx-auto"
        src="../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
        alt="service"
      />
      <!-- <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad
            autem praesentium maiores, eos obcaecati nulla, maxime quae cumque
            repellendus mollitia iusto officiis delectus illo consequatur.
            Necessitatibus eaque placeat dolore error consequatur mollitia quia
            esse! Quo, consequuntur optio officia id omnis similique consequatur
            excepturi. Deserunt, soluta natus deleniti aspernatur sit autem
            consequatur excepturi inventore perferendis ipsam nobis, molestias
            repellendus rem iure voluptatem aliquid voluptas neque nisi ab quidem
            veritatis id possimus incidunt porro? Aut nobis minima error adipisci
            quasi assumenda ut itaque? Natus beatae incidunt fugit provident
            voluptatum, officiis sint dicta pariatur, maiores asperiores quos maxime
            consequuntur adipisci libero, quam est aut. Magni earum dolorem quasi
            laboriosam aliquam laborum quis, odio ipsa perspiciatis reiciendis vel,
            nulla, expedita at cupiditate quod minima impedit esse sed consequuntur
            autem! Sint reiciendis quam optio veniam consectetur libero, autem,
            voluptas blanditiis unde ducimus ea doloribus quas necessitatibus hic
            atque expedita facilis nulla! Sunt eveniet incidunt ea, cum quibusdam at
            enim autem blanditiis, consequuntur esse quo molestias facere?
            Cupiditate, aliquam tempore. Modi veniam sapiente itaque eius odit
            aperiam optio, veritatis ullam mollitia magnam libero placeat incidunt
            qui ipsam earum reiciendis ea pariatur laudantium molestias dolore neque
            aliquid! Quae dolorem facere tempore nemo libero, quisquam dolores
            voluptas.
          </p>
          <p class="border-2 w-fit mx-auto mt-5 text-xl">Price: $40</p> -->
      <div class="flex justify-center mt-4 space-x-2">
        <button class="border-2 rounded-full border-black p-2">
          Learn More
        </button>
        <button class="border-2 rounded-full border-black p-2">Book Now</button>
      </div>
    </div>
    <div class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg">
      <span class="flex justify-center bg-green-700 p-1">Service 1</span>
      <img
        class="w-40 mx-auto"
        src="../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
        alt="service"
      />
      <!-- <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad
            autem praesentium maiores, eos obcaecati nulla, maxime quae cumque
            repellendus mollitia iusto officiis delectus illo consequatur.
            Necessitatibus eaque placeat dolore error consequatur mollitia quia
            esse! Quo, consequuntur optio officia id omnis similique consequatur
            excepturi. Deserunt, soluta natus deleniti aspernatur sit autem
            consequatur excepturi inventore perferendis ipsam nobis, molestias
            repellendus rem iure voluptatem aliquid voluptas neque nisi ab quidem
            veritatis id possimus incidunt porro? Aut nobis minima error adipisci
            quasi assumenda ut itaque? Natus beatae incidunt fugit provident
            voluptatum, officiis sint dicta pariatur, maiores asperiores quos maxime
            consequuntur adipisci libero, quam est aut. Magni earum dolorem quasi
            laboriosam aliquam laborum quis, odio ipsa perspiciatis reiciendis vel,
            nulla, expedita at cupiditate quod minima impedit esse sed consequuntur
            autem! Sint reiciendis quam optio veniam consectetur libero, autem,
            voluptas blanditiis unde ducimus ea doloribus quas necessitatibus hic
            atque expedita facilis nulla! Sunt eveniet incidunt ea, cum quibusdam at
            enim autem blanditiis, consequuntur esse quo molestias facere?
            Cupiditate, aliquam tempore. Modi veniam sapiente itaque eius odit
            aperiam optio, veritatis ullam mollitia magnam libero placeat incidunt
            qui ipsam earum reiciendis ea pariatur laudantium molestias dolore neque
            aliquid! Quae dolorem facere tempore nemo libero, quisquam dolores
            voluptas.
          </p>
          <p class="border-2 w-fit mx-auto mt-5 text-xl">Price: $40</p> -->
      <div class="flex justify-center mt-4 space-x-2">
        <button class="border-2 rounded-full border-black p-2">
          Learn More
        </button>
        <button class="border-2 rounded-full border-black p-2">Book Now</button>
      </div>
    </div>
    <div class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg">
      <span class="flex justify-center bg-green-700 p-1">Service 1</span>
      <img
        class="w-40 mx-auto"
        src="../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
        alt="service"
      />
      <!-- <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis ad
            autem praesentium maiores, eos obcaecati nulla, maxime quae cumque
            repellendus mollitia iusto officiis delectus illo consequatur.
            Necessitatibus eaque placeat dolore error consequatur mollitia quia
            esse! Quo, consequuntur optio officia id omnis similique consequatur
            excepturi. Deserunt, soluta natus deleniti aspernatur sit autem
            consequatur excepturi inventore perferendis ipsam nobis, molestias
            repellendus rem iure voluptatem aliquid voluptas neque nisi ab quidem
            veritatis id possimus incidunt porro? Aut nobis minima error adipisci
            quasi assumenda ut itaque? Natus beatae incidunt fugit provident
            voluptatum, officiis sint dicta pariatur, maiores asperiores quos maxime
            consequuntur adipisci libero, quam est aut. Magni earum dolorem quasi
            laboriosam aliquam laborum quis, odio ipsa perspiciatis reiciendis vel,
            nulla, expedita at cupiditate quod minima impedit esse sed consequuntur
            autem! Sint reiciendis quam optio veniam consectetur libero, autem,
            voluptas blanditiis unde ducimus ea doloribus quas necessitatibus hic
            atque expedita facilis nulla! Sunt eveniet incidunt ea, cum quibusdam at
            enim autem blanditiis, consequuntur esse quo molestias facere?
            Cupiditate, aliquam tempore. Modi veniam sapiente itaque eius odit
            aperiam optio, veritatis ullam mollitia magnam libero placeat incidunt
            qui ipsam earum reiciendis ea pariatur laudantium molestias dolore neque
            aliquid! Quae dolorem facere tempore nemo libero, quisquam dolores
            voluptas.
          </p>
          <p class="border-2 w-fit mx-auto mt-5 text-xl">Price: $40</p> -->
      <div class="flex justify-center mt-4 space-x-2">
        <button class="border-2 rounded-full border-black p-2">
          Learn More
        </button>
        <button class="border-2 rounded-full border-black p-2">Book Now</button>
      </div>
    </div>
  </div>
</div>
