<div class="bg-white opacity-90 w-fit mx-auto p-10 mt-8 rounded-2xl">
  <app-cancel-button />
  <div
    class="flex justify-center mb-10 uppercase cursor-default font-bold text-3xl"
  >
    Our Services
  </div>
  <div class="flex justify-center" *ngIf="isLoading">
    <app-spiner />
  </div>
  <div>
    <div
      *ngIf="isLoading === false"
      class="flex flex-col text-sm items-center md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-3 md:space-y-0 space-y-4"
    >
      <div
        *ngFor="let data of services"
        class="border-2 border-black w-fit p-2 text-xs h-fit md:text-base lg:text-lg"
      >
        <span class="flex justify-center bg-green-700 p-1">{{
          data.service
        }}</span>
        <img
          *ngIf="isClicked === false"
          class="w-40 mx-auto mt-2 h-40"
          src="{{ data.imageUrl }}"
          alt="service"
        />
        <img
          *ngIf="isClicked"
          class="w-120 mx-auto mt-2 h-120"
          src="{{ data.imageUrl }}"
          alt="service"
        />
        <div *ngIf="isClicked" class="mt-2">
          <p class="mx-auto">{{ data.description }}</p>
          <p class="border-2 w-fit mx-auto mt-5 text-xl">
            Price: ${{ data.price }}
          </p>
        </div>

        <div class="flex justify-center mt-4 space-x-2">
          <button
            class="border-2 rounded-full border-black p-2"
            (click)="toggle()"
          >
            {{ isClicked ? "Hide" : "Learn More" }}
          </button>
          <a
            routerLink="/booking-form"
            class="border-2 rounded-full border-black p-2"
            >Book Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
