<div class="bg-white opacity-90 w-fit mx-auto p-10 mt-8 rounded-2xl">
  <app-cancel-button />
  <div class="mt-6 flex justify-center">
    <h2 class="uppercase font-bold text-xs md:text-lg lg:text-3xl">
      Add Service
    </h2>
  </div>
  <div class="flex justify-center mt-8" *ngIf="isLoading">
    <app-spiner />
  </div>
  <div class="mt-5" *ngIf="!isLoading">
    <form #form="ngForm" (ngSubmit)="createServiceHandler(form)">
      <div class="flex flex-col">
        <label for="service"></label>
        <input
          type="text"
          name="service"
          id="service"
          placeholder="Service name"
          class="border-2 border-slate-700 text-sm md:text-xl mt-1 rounded-xl"
          ngModel
          #serviceInput="ngModel"
          required
          minlength="4"
        />

        <ng-container *ngIf="serviceInput.touched">
          <p class="text-red-600" *ngIf="serviceInput.errors?.['required']">
            Service name is required!
          </p>
          <p class="text-red-600" *ngIf="serviceInput.errors?.['minlength']">
            Service name must be at least 4 characters long.
          </p>
        </ng-container>
      </div>

      <div class="flex flex-col">
        <label for="imageUrl"></label>
        <input
          type="text"
          name="imageUrl"
          id="imageUrl"
          placeholder="Image URL"
          class="border-2 border-slate-700 text-sm md:text-xl mt-1 rounded-xl"
          ngModel
          #imageInput="ngModel"
          required
          minlength="6"
          pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
        />

        <ng-container *ngIf="imageInput.touched">
          <p class="text-red-600" *ngIf="imageInput.errors?.['pattern']">
            Invalid URL!
          </p>
          <p class="text-red-600" *ngIf="imageInput.errors?.['required']">
            Image URL is required!
          </p>
          <p class="text-red-600" *ngIf="imageInput.errors?.['minlength']">
            Image URL must be at least 4 characters long.
          </p>
        </ng-container>
      </div>
      <div class="flex flex-col">
        <label for="price"></label>
        <input
          type="number"
          name="price"
          id="price"
          placeholder="Price $"
          class="border-2 border-slate-700 text-sm md:text-xl mt-1 rounded-xl"
          ngModel
          #priceInput="ngModel"
          required
          min="1"
        />

        <ng-container *ngIf="priceInput.touched">
          <p class="text-red-600" *ngIf="priceInput.errors?.['required']">
            Price is required!
          </p>
          <p class="text-red-600" *ngIf="priceInput.errors?.['min']">
            Price cannot be 0 or negative number!
          </p>
        </ng-container>
      </div>
      <div class="flex flex-col mt-4">
        <label for="description"></label>
        <textarea
          name="description"
          placeholder="Description..."
          id="description"
          class="border-2 border-slate-700 text-sm md:text-xl mt-1 rounded-xl"
          ngModel
          #descriptionArea="ngModel"
          required
          minlength="10"
        ></textarea>

        <ng-container *ngIf="descriptionArea.touched">
          <p class="text-red-600" *ngIf="descriptionArea.errors?.['required']">
            Description is required!
          </p>
          <p class="text-red-600" *ngIf="descriptionArea.errors?.['minlength']">
            Description must be at least 10 characters long.
          </p>
        </ng-container>
      </div>
      <div class="flex justify-center mt-8">
        <button
          class="border-2 rounded-xl pl-2 pr-2 pt-1 pb-1 text-white bg-green-700 hover:bg-green-800"
        >
          Add Service
        </button>
      </div>
    </form>
  </div>
</div>
