<div class="bg-white opacity-90 w-fit mx-auto p-10 mt-8 rounded-2xl">
  <div class="flex justify-center items-center space-x-3">
    <h2 class="md:text-2xl lg:text-6xl uppercase">Successfully</h2>
    <i
      class="fas fa-check-circle md:text-2xl lg:text-6xl lg:mt-2"
      style="color: #207415"
    ></i>
  </div>
  <div class="flex justify-center mt-6 space-x-3">
    <p class="md:text-2xl lg:text-3xl">Thank you for your support!</p>
    <i class="far fa-smile-beam md:text-2xl lg:text-3xl mt-1"></i>
  </div>
  <div class="flex justify-center">
    <button
      (click)="clickHandler()"
      class="mt-8 border-2 rounded-full pl-2 pr-2 pt-1 pb-1 bg-green-700 text-xl"
    >
      Home Page
    </button>
  </div>
</div>
