<div class="mt-56">
  <div
    *ngIf="!isAdmin()"
    class="flex-col flex text-center mt-20 text-2xl md:text-5xl lg:text-7xl text-black bg-gray-200 opacity-90 w-full pb-2"
  >
    <h1 class="uppercase font-kalam mt-4">you deserve a clean home</h1>
    <div
      class="rounded-full w-11/12 md:w-9/12 lg:w-3/6 mx-auto hover:text-white bg-green-700 uppercase text-lg mt-4 md:text-4xl pl-3 pt-2 pr-3 pb-2 cursor-pointer"
    >
      <a
        (click)="onActive()"
        class="pt-1 pr-2 pb-1 pl-2"
        *ngIf="isLoggedIn"
        routerLink="/booking-form"
        >book clean in 60 seconds</a
      >
      <a
        (click)="onActive()"
        class="pt-1 pr-2 pb-1 pl-2"
        *ngIf="!isLoggedIn"
        routerLink="/user/login"
        >You must be logged in to make a request</a
      >
    </div>
  </div>
</div>

<div
  *ngIf="isAdmin()"
  class="flex-col flex items-center mt-20 text-2xl md:text-5xl text-black bg-gray-200 opacity-90 w-full pb-2"
>
  <h2 class="uppercase text-center">
    “Success usually comes to those who are too busy looking for it.” — Henry
    David Thoreau
  </h2>
  <div
    routerLink="/user/profile"
    (click)="onActive()"
    class="rounded-full hover:text-white bg-green-700 uppercase mt-4 md:text-4xl pl-3 pt-2 pr-3 pb-2 cursor-pointer"
  >
    Profile
  </div>
</div>
