<div
  class="flex-col flex items-center mt-20 text-2xl md:text-5xl lg:text-7xl text-black bg-gray-200 opacity-90 w-full pb-2"
>
  <h1 class="uppercase font-kalam mt-4">you deserve a clean home</h1>
  <div
    class="rounded-full hover:text-white bg-green-700 uppercase mt-4 md:text-4xl pl-3 pt-2 pr-3 pb-2 cursor-pointer"
  >
    <a routerLink="/booking-form">book clean in 60 seconds</a>
  </div>
</div>

<!-- Admin's home page view  -->

 <!-- <div
  class="flex-col flex items-center mt-20 text-2xl md:text-5xl lg:text-7xl text-black bg-gray-200 opacity-90 w-full pb-2"
>
  <h1 class="uppercase">be positive</h1>
  <div
    class="rounded-full hover:text-white bg-green-700 uppercase mt-4 md:text-4xl pl-3 pt-2 pr-3 pb-2 cursor-pointer"
  >
    keep smiling :)
  </div>
</div> -->
