<div
  class="container flex mt-3 bg-gray-100 flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0"
>
  <div
    class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:sace-y-0 md:items-start"
  >
    <div>
      <a routerLink="/home" (click)="onActive()"
        ><img
          src="../../../assets/images/logo-PhotoRoom.png-PhotoRoom.png"
          class="h-24"
          alt="logo"
      /></a>
    </div>
    <div class="flex mx-auto justify-center space-x-4">
      <a href="https://www.facebook.com" target="_blank"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://twitter.com" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
    </div>
  </div>
  <div class="flex justify-center space-x-32 items-center">
    <div class="flex flex-col space-y-3 items-center">
      <a
        routerLink="/home"
        (click)="onActive()"
        class="hover:text-green-700 text-xl"
        >Home</a
      >
      <a
        routerLink="/about"
        (click)="onActive()"
        class="hover:text-green-700 text-xl"
        >About</a
      >
      <a
        routerLink="/services"
        (click)="onActive()"
        class="hover:text-green-700 text-xl"
        >Services</a
      >
    </div>
    <div class="flex flex-col space-y-3 items-center">
      <a
        routerLink="/products"
        (click)="onActive()"
        class="hover:text-green-700 text-xl"
        >Products</a
      >
      <a
        routerLink="/our-team"
        (click)="onActive()"
        class="hover:text-green-700 text-xl"
        >Our Team</a
      >
      <a
        routerLink="/privacy-policy"
        (click)="onActive()"
        class="hover:text-green-700 text-xl"
        >Privacy Policy</a
      >
    </div>
  </div>
  <div class="flex flex-row items-center">
    <div (click)="onActive()" class="mx-auto md:block">
      <app-contacts-button />
    </div>
  </div>
</div>
<div class="flex flex-col items-center bg-gray-100">
  <p class="cursor-default text-xl">Ultraclean inc. 2023</p>
  <p class="cursor-default text-xl">All Rights Reserved &copy;</p>
</div>
